/* Burada renkler tanımlanıyor */
:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
  }

/* HTML'de body kısmına class ismi ekleyip burada o isimle çağırmak lazım */
/* bg ve fontColor değişkenleri tanımlandı */
.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);    
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);    
}

/* "*" operatörü ile belirtilenler sayfadaki HER ELEMENTE uygulanır */
/* sadece özel isim ile belirtilmiş ifadeler bunun üzerine yazabilir */
* {
    color: var(--fontColor);
    font-family: helvetica;
}

/* BODY BİÇİMLENDİRMELERİ */
body {
    background: var(--bg);
}

/* UNORDERED LIST BİÇİMLENDİRMELERİ */
ul {
    font-family: helvetica;
    list-style: square;
}

/* LIST ITEM BİÇİMLENDİRMELERİ */

/* tüm list item'lar başında "yuvarlak" olarak yazılacak */
/*
li {
    list-style: circle; 
}
*/

/* "." ifadesi ile class ismini işaret ediyoruz. Class ismi "list" olanlar başında "kare" ile yazılacak */
.ulist01 {
    list-style: disc; /* tüm list item'lar başında "yuvarlak" olarak yazılacak */
}
.listItem01 {
    list-style: square;
}


.navList01 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.navList01 li {
    float: left;
}
.navList01 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
} 
.navList01 li a:hover {
    background-color: #111111;
}


/* PARAGRAF BİÇİMLENDİRMELERİ */
div {
    padding: 2px; /* paragraflar arası boşluk */
    border: 1px solid powderblue; /* her paragrafta border olacak. kalınlığı ve rengi verildi */
    margin: 3px; /* border etrafındaki boşluk */
}

/* LINK BİÇİMLENDİRMELERİ */
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: violet;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
/* Yukarıdaki biçimlendirmeye alternatif olarak aşağıdaki denenebilir... */
/*
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
*/
 
.customHeading01 {
    background-color: blue;
    color: yellow;
}
.customHeading02 {
    background-color: green;
    color: black;
}
.customText01 {
    font-size: 150%;
}

.table01 {
    width:40%;
    border:2px solid black;
    /*border-collapse: collapse;*/
    border-color:aqua;
    text-align: left;
    padding: 5px;
    border-spacing: 10px;
}
.table01_th, .table01_td {
    color: black;
    border:1px solid black;
    border-color: red;
    border-radius: 5px;
    border-style: dashed;
    background-color: #1acc29;
}

.table02 {
    width:40%;
    border:2px solid black;
    border-collapse: collapse;
    border-color:aqua;
}
.table02_tr {
    border-bottom: 1px solid #ddd;
}
/* Bu kural ile aşağıdaki çakışacaktır. Birisini seçmek gerekiyor. */
.table02_tr:hover {background-color: #ff00ff;}
/*
.table02_tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
*/
.table02_th:nth-child(even), .table02_td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

.btnThemeSelect {
    color: var(--btnFontColor);
    background-color: var(--btnBg);    
    position: absolute;
    top: 70px;
    left: 600px;
    height: 25px;
    width: 130px;
    border-radius: 5%;
    border: none;
}
.btnThemeSelect:focus { outline-style: none; }

.btnDateTime {
    color: var(--btnFontColor);
    background-color: var(--btnBg);    
    position: absolute;
    top: 18px;
    left: 600px;
    height: 25px;
    width: 130px;
    border-radius: 5%;
    border: none;
}


#iframe01 {
    width: 600px;
    height: 450px;
    zoom: 0.2;

    background-color: white;

    /*
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    */
    /*
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5); 
    */
}


#msg01 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
#genInfo {
    font-size: larger;
    text-decoration: underline;
}
#parag01 {
    background-image: url('../resources/trBayrak_sb.jpg'); 
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    /*background-size: 100% 100%;   */
    color:yellow;
}

