/* Burada renkler tanımlanıyor */
:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
  }

/* HTML'de body kısmına class ismi ekleyip burada o isimle çağırmak lazım */
/* bg ve fontColor değişkenleri tanımlandı */
.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);    
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);    
}

/* "*" operatörü ile belirtilenler sayfadaki HER ELEMENTE uygulanır */
/* sadece özel isim ile belirtilmiş ifadeler bunun üzerine yazabilir */
* {
    color: var(--fontColor);
    font-family: helvetica;
}

/* BODY BİÇİMLENDİRMELERİ */
body {
    background: var(--bg);
}

/* UNORDERED LIST BİÇİMLENDİRMELERİ */
ul {
    font-family: helvetica;
}

/* LIST ITEM BİÇİMLENDİRMELERİ */
li {
    list-style: circle; /* tüm list item'lar başında "yuvarlak" olarak yazılacak */
}

/* PARAGRAF BİÇİMLENDİRMELERİ */
div {
    padding: 2px; /* paragraflar arası boşluk */
    border: 1px solid powderblue; /* her paragrafta border olacak. kalınlığı ve rengi verildi */
    margin: 3px; /* border etrafındaki boşluk */
}

/* LINK BİÇİMLENDİRMELERİ */
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: violet;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
/* Yukarıdaki biçimlendirmeye alternatif olarak aşağıdaki denenebilir... */
/*
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
*/
 
/* "." ifadesi ile class ismini işaret ediyoruz. Class ismi "list" olanlar başında "kare" ile yazılacak */
.list01 {
    list-style: square;
}

.customHeading01 {
    background-color: blue;
    color: yellow;
}
.customHeading02 {
    background-color: green;
    color: black;
}
.customText01 {
    font-size: 150%;
}


.btnThemeSelect {
    color: var(--btnFontColor);
    background-color: var(--btnBg);    
    position: absolute;
    top: 28px;
    left: 600px;
    height: 25px;
    width: 130px;
    border-radius: 10%; /* 50% */
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btnThemeSelect:focus { outline-style: none; }


#msg01 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
#genInfo {
    font-size: larger;
    text-decoration: underline;
}
